@charset "utf-8";

ul,
li {
    padding: 0;
    list-style: none;
}

a {
    color: #000;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.wrap {
    width: 1500px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 90px;
    background: #e9e6df;
}

.logo {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gnb {
    justify-content: center;
    width: 1100px;
    display: flex;
    padding: 10px;
}

.main {
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    width: 800px;
}

.sns {
    width: 100px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
}

.sns li {
    display: inline-block
}

.sns a {
    color: #a1a1a1;
    margin: 10px;
}

.slide {
    width: 650px;
}

.contents1 {
    height: 650px;
    background: #fc7100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size {
    width: 1182px;
    height: 500px;
    display: flex;
    background: #ffffff;
}

.leftcontents {
    width: 592px;
    height: 500px;
}
.bbox{
    padding: 10px 40px;          
    border: 2px solid #ffffff;       
    display: inline-block;   

}

.rigtcontents {
    height: 500px;

}

.topcontents {
    height: 250px;
    width: 590px;
    background: #f99639;
    display: flex;
}

.ab {
    padding: 16px 0 0 16px;
    color: #ffffff;
    height: 250px;
    width: 295px;
}

.bd {
    padding: 16px 0 0 16px;
    color: #ffffff;
    height: 250px;
    width: 295px;
}

.downcontents {
    display: flex;
    height: 250px;
    width: 590px;
    background: #1b1d41;
}

.contents2 {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4eee9;
}

.box {
    justify-content: space-between;
    width: 1182px;
    height: 300px;
    display: flex;
}

.notice span {
    display: inline-block;
    width: 280px;

}

.notice {
    padding: 16px 0 0 16px;
    width: 330px;
    line-height: 1.8;
    background: #ffffff;
}

.notice h2 {
    margin-bottom:5px;
    display:inline-block;
}

.cc {
    font: size 5px;
}

.cc hr {
    border: 0.1px solid #e8e8e8;
    margin: 20px 0;
}
.inquiry{
    width: 330px;
    height: 300px;
    background: #ffffff;
}
.dd{
    padding-top: 40px;
}
.gg{
    padding-top:40px;
}
.mean {
    width: 330px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.footer {
    height: 200px;
    background: #545454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.info {
    padding-top: 15px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
}