@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  font: 16px/1.6 "돋움", sans-serif;
  background: #fff;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: top;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
/*헤더*/
header {
  height: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
  background: lightgoldenrodyellow;
}
/*로고*/
.logo {
  width: 200px;
  height: 40px;
  background: yellowgreen;
}
/*네비게이션*/
.gnb {
  position: absolute;
  display: flex;
  width: 640px;
  height: 30px;
  background: lightblue;
  text-align: center;
}
.gnb .main {
  display: flex;
}

/*1depth 메인*/
.gnb .main>li>a{
    width: 160px;
    height: 30px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    background: #999;
}
.gnb .main>li>a:hover{
    background: #675e54;
    color: #fff;
}
/*2depth 서브*/
.gnb .main>li>a:hover .sub{
    height: 150px;
}
.gnb .sub>li>a{
    font-size: 14px;
}
.gnb .sub{
    height: 0;
    overflow: hidden;
    transition: .3s;
}
/*슬라이드*/
.slide {
  background: yellow;
  height: 300px;
  overflow: hidden;
}
.slide ul {
  position: relative;
  height: 300%;
  animation: slide 6s infinite;
}
@keyframes slide {
  0% {
    top: 0;
  }
  33% {
    top: -100%;
  }
  43% {
    top: -100%;
  }
  66% {
    top: -200%;
  }
  99.99% {
    top: -200%;
  }
  100% {
    top: 0;
  }
}
/*콘탠츠*/
.contents {
  height: 200px;
  background: red;
  display: flex;
}
/*공지사항/갤러리*/
.tabs {
  height: 200px;
  width: 400px;
  background: darksalmon;
}
/*배너*/
.banner {
  width: 400px;
  height: 200px;
  background: orange;
}
/*바로가기 링크*/
.link {
  background: darkcyan;
  width: 400px;
  height: 200px;
}

/*푸터*/
footer {
  height: 100px;
  background: #222;
  display: flex;
}
/*아래로고*/
.blogo {
  width: 200px;
  height: 40px;
  background: lime;
}
/*카피라이트*/
.copy {
  width: 800px;
  height: 100px;
  background: lightpink;
}
/*SNS*/
.sns {
  width: 200px;
  height: 100px;
  background: lightgreen;
}
