@charset "utf-8";

/* 전체 */
body{
    margin: 0;
    background: #fff;
    color:#222328
}
a{
    color:#222328
}
/* 불록레벨요소를 가로 가운데 맞춤하기 */
.wrap {
    width: 1200px;
    margin:0 auto;
}

/*헤더 */
.header {
    height: 100px;
    background: #e5e5e5;
}

/*슬라이드*/
.slide {
    height: 300px;
    background: #dcdcdc;
}

/* 콘텐츠 */
.contents {
    height: 200px;
    background: #c1c1c1;
}

/* 푸터*/
.footer {
    height: 100px;
    background: #a6a5a5;
}