@charset "utf-8";

/* 전체 */
body {
    margin: 0;
    background: #fff;
    color: #222328
}

a {
    color: #222328
}

/* 불록레벨요소를 가로 가운데 맞춤하기 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}

/*헤더 */
.header {
    height: 100px;
}

.logo {
    background: #ddd;
}
.gnb{
    background: #fff;
}

/*슬라이드*/
.slide {
    height: 300px;
}

/* 콘텐츠 */
.contents {
    height: 200px;
}

.notice {
    background: #bbb;
}

.banner {
    backgroung: #aaa;
}

.shortcut {
    background: #999;
}

/* 푸터*/
.footer {
    height: 100px;
}

.blogo {
    background: #888;
}

.copy {
    background: #777;
}

.sns {
    background: #666;
}