@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background: #fff;
  color: #333;
  font: 15px/1.6 "굴림", sans-serif;
}
a {
  text-decoration: 0;
  color: #333;
}
.logo{
  padding: 20px 0 15px 0px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*img{
    vertical-align: top;/*실무에서 씀
}*/
.wrap {
  height: 850px;
  display: flex;
}
header {
  background: #f6f6f6;
  width: 200px;
}
nav {
  padding: 20px;
  font-weight: bold;
}
nav a {
  line-height: 60px;
  margin-top: 4px;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border: 1px solid #000;
  font-size: 18px;
}
nav a:hover {
  background: rgb(255, 150, 167);
  color: #fff;
}
.spotmenu a {
  color: #777;
}
.spotmenu a:hover {
  text-decoration: underline;
  color: #333;
}
.spotmenu a:not(:last-child):after {
  content: " |";
  margin: 8px;
}
.container {
  background: lightcyan;
  width: calc(100% - 200px);
}
.slide {
  height: 400px;
  overflow: hidden;
}
.link {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 300px;
  background: palevioletred;
  text-align: center;
}
.link ul {
  margin: 16px 0 0 0;
}
.link span {
  display: block;
  color: rgb(0, 0, 0);
}
.banner {
  height: 200px;
  background: rgb(245, 236, 220);
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.banner .cont {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.banner .cont div{
  padding-left: 40px;
  color:navy
}
.banner .btn {
  padding: 80px 16px 0 0;
}
.gnb {
  text-align: center;
}
.tabs {
  height: 250px;
  background: rgb(230, 221, 193);

  line-height: 2;
  padding: 35px 16px
}
.tabs h3{
  width: 100% - 200px;
}
.tabs a{
display: flex;
justify-content:space-between;
border-bottom: 1px solid #8b8b8b;
}
.tabs a:hover{
  background:rgb(125, 80, 20);
  color:#fff;
}
footer {
  background: grey;
  height: 120px;
  align-items: center;
  display: flex;
}
.blogo {
  width: 200px;
}
.right {
  padding-left: 60px;
}
.bmenu {
  display: flex;
  height: 30px;
}
.bmenu li:not(:last-child):after {
  content: "|";
  margin: 8px;
}
 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .slide{
            position: relative;   
        }
        .slide li{
            position: absolute;/*POA*/
            animation: 6s infinite;
        }
        .slide li:nth-of-type(1){
            animation-name: fade1;
            opacity: 0;
        }
        .slide li:nth-of-type(2){
            animation-name: fade2;
            opacity: 0;
        }
        .slide li:nth-of-type(3){
            animation-name: fade3;
            opacity: 0;
        }
        /*2025-05-26 추가*/
        .slide img{
          width: 100%;
          height: 400%;
          object-fit: cover; /* 이미지 비율 유지 */
        }
        @keyframes fade1{
            0%{opacity: 0;}
            10%{opacity: 1;}
            23%{opacity: 1;}
            43%{opacity: 0;}
            100%{opacity: 0;}
        }
        @keyframes fade2{
            0%{opacity: 0;}
            23%{opacity: 0;}
            43%{opacity: 1;}
            66%{opacity: 1;}
            76%{opacity: 0;}
            100%{opacity: 0;}
        }
        @keyframes fade3{
            0%{opacity: 1;}
            23%{opacity: 0;}
            43%{opacity: 0;}
            66%{opacity: 0;}
            76%{opacity: 1;}
            100%{opacity:1;}
        }
    </style>